.community-side-bar {
    margin-top: 230px;
    text-align: center;
}

.community-side-bar h2 {
    color: #0066cc;
}

.community-side-bar-menu {
    display: grid;
    height: 200px;
    margin-left: 10px;
    margin-right: 10px;
    align-items: center;
    border-radius: 20px;
    border: 2px solid;
    background-color: white;
}

.community-side-bar a {
    text-decoration: none;
    font-size: x-large;
    font-weight: bold;
    color: black;
}

.community-side-bar a:hover {
    color: #0066cc;
}

@media screen and (max-width: 768px) {
    .community-side-bar {
        margin-top: 20px;
    }

    .community-side-bar-menu {
        display: flex;
        justify-content: center;
        height: 50px;
        margin-left: 10px;
        margin-right: 10px;
        align-items: center;
        border-radius: 30px;
        border: 2px solid;
        background-color: white;
    }

    .community-side-bar a{
        font-size: medium;
        margin: 0 1rem;
    }
}