.couns-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20vh;
}

.list {
    display: flex;
    margin-top: 20vh;
}

.list > div {
    padding: 5vh;
}

.list > div > a {
    text-align: center;
    text-decoration: none;
    color: black;
}